* {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', cursive; }

.background {
  background: black;
  background: -moz-linear-gradient(322deg, black 25%, #870000 50%, black 75%);
  background: -webkit-linear-gradient(322deg, black 25%, #870000 50%, black 75%);
  background: linear-gradient(322deg, black 25%, #870000 50%, black 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  overflow: hidden;
  overflow-y: auto; }

.encabezado__logo {
  animation: entra_logo 0.8s 1 ease-in; }

.encabezado__menu {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .encabezado__menu--nav {
    padding: 0.5rem;
    display: flex;
    justify-content: right; }

@keyframes entra_logo {
  0% {
    transform: translate(-300px);
    opacity: 0; }
  100% {
    transform: translate(0px);
    opacity: 1; } }

.hero {
  display: flex;
  background-position: center top;
  background-image: url("../media/cuernos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  justify-content: flex-start;
  height: 100vh; }
  .hero__titulo {
    font-size: 3em; }

.boton_ver {
  animation-name: latir;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s; }

@keyframes latir {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

h1, h2, h3 {
  font-family: 'Bungee Spice', cursive;
  text-align: center; }

h3 {
  font-size: 1.5em; }

.ver_link {
  color: orange; }

.mas_info {
  text-align: center; }

.historias {
  color: orange;
  font-size: 1em;
  text-align: justify;
  line-height: 1.8;
  background-color: transparent; }

.bandas__conocidas {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 1fr repeat(4, 1fr);
  place-content: center;
  justify-items: center;
  align-items: center; }

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto; }

@media (max-width: 320px) {
  .hero {
    display: flex;
    background-position: center top;
    background-image: url("../media/cuernos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    justify-content: flex-start;
    width: 278px;
    height: 132px;
    margin: 8px; }
    .hero__titulo {
      font-family: "Bungee Spice", cursive;
      text-align: center;
      font-size: 1.5em; }
  .titulo__respo {
    font-size: 1.5em;
    padding-top: 1.5rem; }
  .bandas_respo {
    font-size: 1em; }
  .encabezado__menu {
    flex-direction: row;
    justify-content: center; }
    .encabezado__menu--nav {
      justify-content: center; }
  .card_contenedor {
    padding: 0px; }
  .tamano_tarjeta {
    margin: 7px; } }

@media (min-width: 321px) and (max-width: 768px) {
  .hero {
    display: flex;
    background-position: center top;
    background-image: url("../media/cuernos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    justify-content: flex-start;
    width: 720px;
    height: 360px;
    padding-top: 1rem;
    padding-bottom: .5rem; }
    .hero__titulo {
      font-family: "Bungee Spice", cursive;
      text-align: center;
      font-size: 2em; }
  .titulo__respo {
    font-size: 2.5em;
<<<<<<< HEAD
    padding-top: 1.5rem; }
  .card_contenedor {
    padding: 0px; }
  .tamano_tarjeta {
    height: 1095px; } }
=======
    padding-top: 2rem; }
  .altura_tarjeta {
    height: 1200px; } }
>>>>>>> 68d1a6dbb5ddddcfe0765b23887cd8446062126d

@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    display: flex;
    background-position: center top;
    background-image: url("../media/cuernos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    justify-content: flex-start;
    height: 570px; }
    .hero__titulo {
      font-family: "Bungee Spice", cursive;
      text-align: center;
      font-size: 3em;
      padding-top: 1.6rem;
      padding-bottom: 1rem; }
  .titulo__respo {
<<<<<<< HEAD
    font-size: 2em;
    padding-top: 1.5rem; }
  .card_contenedor {
    padding: 0px; }
  .tamano_tarjeta {
    height: 850px; } }

@media (min-width: 1025px) {
=======
    font-size: 3em;
    padding-top: 2rem; }
  .altura_tarjeta {
    height: 1025px; } }

@media (min-width: 1025px) {
  .altura_tarjeta {
    height: 820px; }
>>>>>>> 68d1a6dbb5ddddcfe0765b23887cd8446062126d
  .hero__titulo {
    padding-top: 4rem;
    padding-bottom: 3rem;
    font-size: 3.5em; }
  .titulo__respo {
    font-size: 3em;
    padding-top: 1.4rem; }
  .card_contenedor {
    padding: 0px; }
  .tamano_tarjeta {
    height: 800px; } }
