.encabezado{
    &__logo{
        animation: entra_logo 0.8s 1 ease-in;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--nav{
            padding: 0.5rem;
            display: flex;
            justify-content: right;
        }
    }
}
@keyframes entra_logo{
    0% {
        transform: translate(-300px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

