@import "./variables";
.hero{
    display: flex;
    background-position: center top;
    background-image: url("../media/cuernos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    justify-content: flex-start;
    &__titulo{
        font-size: $fuente-xxl;
    }
}
