.mas_info{
    text-align: center;
}
.historias{
    color: $fuente_color_historia;
    font-size: $fuente-xs;
    text-align: justify;
    line-height: 1.8;
    background-color: transparent;
} 
.bandas__conocidas{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 1fr repeat(4, 1fr);
    place-content: center;
    justify-items: center;
    align-items: center;
}
