@media (max-width: 320px) {
    .hero{
        display: flex;
        background-position: center top;
        background-image: url("../media/cuernos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        justify-content: flex-start;
        width: 278px;
        height: 132px;
        margin: 8px;
        &__titulo {
            font-family: $fuente_titulos;
            text-align: center;
            font-size: $fuente-sm;
            }
    }
    .titulo__respo{
        font-size: $fuente-sm;
        padding-top: 1.5rem;
    }
    .bandas_respo{
        font-size: $fuente-xs;
    }
    .encabezado__menu {
        flex-direction: row;
        justify-content: center;
        &--nav{
            justify-content: center;
        }
    }
    .card_contenedor{
        padding: 0px;
    }
    .tamano_tarjeta{
        margin: 7px;
    }
}
@media (min-width:321px) and (max-width: 768px) {
    .hero{
        display: flex;
        background-position: center top;
        background-image: url("../media/cuernos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        justify-content: flex-start;
        width: 720px;
        height: 360px;
        padding-top: 1rem;
        padding-bottom: .5rem;
        &__titulo {
            font-family: $fuente_titulos;
            text-align: center;
            font-size: $fuente-md;
        }
    }
    .titulo__respo{
        font-size: $fuente-lg;
        padding-top: 1.5rem;
    }
    .card_contenedor{
        padding: 0px;
    }
    .tamano_tarjeta{
        height: 1095px;
    }
}
@media (min-width:769px) and (max-width: 1024px)  {
    .hero{
        display: flex;
        background-position: center top;
        background-image: url("../media/cuernos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        justify-content: flex-start;
        height: 570px;
        &__titulo {
            font-family: $fuente_titulos;
            text-align: center;
            font-size: $fuente-xxl;
            padding-top: 1.6rem;
            padding-bottom: 1rem;    
            }
    }
    .titulo__respo{
        font-size: $fuente-md;
        padding-top: 1.5rem;
    }
    .card_contenedor{
        padding: 0px;
    }
    .tamano_tarjeta{
        height: 850px;
    }
}
@media (min-width:1025px){
    .hero__titulo{
        padding-top: 4rem;
        padding-bottom: 3rem;
        font-size: $fuente-xxxl;
    }
    .titulo__respo{
        font-size: $fuente-xxl;
        padding-top: 1.4rem;
    }
    .card_contenedor{
        padding: 0px;
    }
    .tamano_tarjeta{
        height: 800px;
    }
}
