$fuente-xs: 1em;
$fuente-sm: 1.5em;
$fuente-md: 2em;
$fuente-lg: 2.5em;
$fuente-xl: 2.8em;
$fuente-xxl: 3em;
$fuente-xxxl: 3.5em;
$fuente_titulos: 'Bungee Spice', cursive;
$fuente_color_historia: orange;